<div class="div-list container">

    <!-- New catalog -->
    <div class="div-list-header">
        <h2>Catálogos
            <span *ngIf="privilegeCollectionSession.create">
                <button type="button" class="btn btn-outline-success"
                    (click)="eventCrudEmitter('CREATE')">Nuevo</button>
            </span>
        </h2>
    </div>

    <!-- Filter -->
    <div class="div-list-filter" *ngIf="privilegeCollectionSession.read">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
    </div>

    <!-- List catalogs -->
    <div class="div-list-table mat-elevation-z8" *ngIf="privilegeCollectionSession.read">

        <table mat-table [dataSource]="dataSource" matSort class="table-hover">

            <!-- # -->
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                <td mat-cell *matCellDef="let catalog; let i = index">
                    {{dataSource.filteredData.indexOf(catalog) + 1}}
                </td>
            </ng-container>

            <!-- Id -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let catalog"> {{catalog._id}} </td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let catalog"> {{catalog.name}} </td>
            </ng-container>

            <!-- Description -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let catalog"> {{catalog.description}} </td>
            </ng-container>

            <!-- Creation Date -->
            <ng-container matColumnDef="creation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Creación </th>
                <td mat-cell *matCellDef="let user"> {{user.creationDate | date:'medium'}} </td>
            </ng-container>
            
            <!-- State -->
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let catalog"> {{catalog.state}} </td>
            </ng-container>

            <!-- Header Table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let catalog; columns: displayedColumns;" (click)="eventCrudEmitter('CRUD', catalog)"></tr>

        </table>

        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

</div>